* {
    box-sizing: border-box;
}

body {
    background-color: lightseagreen;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 42px;
    color: #fff;
}

/* -- BOTÕES -- */

#buttons-container button {
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    background: #3fffa3;
    margin-bottom: 24px;
    transition: filter .2s;
}

#buttons-container button:active {
    filter: brightness(0.7);
}

/* -- JOGO -- */

#container {
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box {
    height: 100px;
    border: 5px solid #000;
    flex: 1 1 33%;
    
}

#block-1, #block-2, #block-3 {
    border-top: none;
}

#block-1, #block-4, #block-7 {
    border-left: none;
}

#block-3, #block-6, #block-9 {
    border-right: none;
}

#block-7, #block-8, #block-9 {
    border-bottom: none;
}

/* -- SÍMBOLOS -- */

.x {
    font-size: 65px;
    color: brown;
    display: inline-block;
    line-height: 100px;
}

.o {
    width: 50px;
    height: 50px;
    border: 5px solid orange;
    border-radius: 50%;
    display: inline-block;
    margin-top: 17px;
}

/* -- CLASSE PARA ESCONDER -- */

.hide {
    display: none !important;
}

/* -- PLACAR -- */

#scoreboard-container {
    font-weight: bold;
    /* margin-top: 30px; */
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


#scoreboard-container h2 {
    font-size: 30px;
    color: antiquewhite;
}

.score-box {
    margin: 0 20px;
}

#x-scoreboard {
    color: brown;
    margin-right: 3px;
}

#o-scoreboard {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid orange;
    border-radius: 50%;
    margin-right: 3px;
}

/* -- MENSAGEM DE VITÓRIA -- */

#message p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 160px;
    width: 500px;
    font-size: 50px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
}